body {
  background: #191970;
  color: #FFFFFF;
}

h1 {
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  opacity: .5;
}

form {
text-align: center;
}

input {
  width: 600px;
}

textarea {
  width: 600px;
  height: 300px;
}
