<!DOCTYPE html>
<html>
  <head>
    <title>Full Stack Foundations Blog</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <header>
        <nav>
          <a href="index.html">Home</a>
          <a href="new.html">New Post</a>
        </nav>
        <h1 v-html="title">{{title}}</h1>
      </header>
    </div>
    <div id="posts">
      <ul>
        <li v-for="post in posts">
          <h2><a :href="'post.html?id=' + post.id">{{post.title.replace(/(<([^>]+)>)/ig, '')}}</a></h2>
          <p>{{post.timestamp}}</p>
          <p v-if="post.content.length>999">{{post.content.replace(/(<([^>]+)>)/ig, '').substring(0, 1000) + " ..."}}</p>
          <p v-else>{{post.content.replace(/(<([^>]+)>)/ig, '')}}</p>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
